* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.mainform {
    background-color: yellow;
    height: 100vh;
    color: #282a35;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.formcontainer {
    width: 35%;
    background-color: #ffffff;
    padding: 15px 15px;
    border-radius: 3px;
    color: #282a35;

}

label {
     margin-bottom: 3px;
     font-size: 20px;
     font-weight: 600;
     margin-top: 20px;
}
 
#password, #email {
    border-radius: 4px;
    padding: 10px 25px;
    border: 1px solid grey;
    margin-bottom: 7px;
    width: 100%;
}

.actlog {
    border-radius: 5px;
    background-color: #282a35;
    color: #ffffff;
    padding: 10px 40px;
    font-weight: 600;
    border: 1px solid #282a35;
    font-size: 15px;
}
 
.flexx {
    display: flex;
    justify-content: space-evenly;
}

.textt {
    width: 30%;
}